{% extends "AppBundle:Layouts:layout.html.twig" %}

{% block javascripts %}
    {{ parent() }}
    
{% endblock %}

{% block content %}
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <div class="col-lg-10 box-default profile-box">

        <div class="avatar">
            {% if user.image == null %}
                <img src="{{ asset('assets/images/default.png') }}" alt="{{ user.nick }}">
            {% else %}
                <img src="{{ asset('uploads/media/'~user.id~'_usermedia/'~user.image) }}" alt="{{ user.nick }}">
            {% endif %}
        </div>

        <div class="name-surname">

            <h2>{{ user.name }} {{ user.surname }}</h2>
            <div class="clearfix"></div>
            <span class="nickname">
                {{ user.nick }}
            </span>
            <input type="button" onclick="javascript:holimundi();"value="biscir">
        </div>



        <div class="clearfix"></div>
    </div>
    <script >

        function holimundi() {
            $("#divPrueba").dialog();
        }
    </script>
    <div id="divPrueba" hidden="">
        <h1> Hola </h1>
    </div>
{% endblock %}
